{{> header }} {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Adrian Werle</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quod atque officia natus odio expedita officiis quo consectetur nemo fugit, magni, porro quos maxime quisquam nostrum. Autem, inventore! Odit, nisi.</p>
    </div>

    <div class="col-4">
        <img src="./assets/img/yoo.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}